<div class="row pt-5">
    <div class="col-md-6 mx-auto ">
      <div class="card rounded-0">
         <div class="card-header bg-secondary">
           <h3 class="mb-0">New Password</h3>
         </div>
          <div class="card-body">
            <form class="form" [formGroup]="myReactiveForm" (ngSubmit)="newPassword()" >
              <div class="form-group">
                <input  name="otp" formControlName="otp" type="text" class="form-control rounded-0" placeholder="OTP" required>&nbsp;&nbsp;
                <input  name="password" formControlName="password"  type="text" class="form-control rounded-0" placeholder="New Password" required>&nbsp;&nbsp;
                <input  name="ConformPassword" formControlName="ConformPassword" type="text" class="form-control rounded-0" placeholder="Confirm Password" required>
              </div>
              <hr>
              <span class="float-end">
                <button class="btn btn-success">Sumbit</button>
              </span>
               <br>
               <br>
            </form>
          </div>
      </div>
    </div>
  </div>
