table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 15%;
}

th.mat-sort-header-sorted {
  color: black;
}
svg{
  height: 24px;
  width: 24px;
}

.btn{
  align-content: center;
}