html, body {
  height: 100%;
  margin: 0;
}
mat-drawer{
  width: 150px;
  text-align:start;
  background-color:#EAEFF2;
  color: black;
}
li{
  padding-left:20px;
}
mat-drawer-content{
  padding: 10px;
}
 
