.pic{
    height: 100px;
    width:100px;
    border-radius: 50px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit{
    float: right;
    margin-bottom: 40%;
    padding-bottom: 30px;
}
.e{

}