<div>
    <div class="e" >
        <div class="wrapper">
            <div>
                <img class="pic" src="{{data.photo}}" />
            </div>
        </div>
        <mat-icon (click)="openEditDialog()" class="edit">edit</mat-icon>
    </div>
    <div class="wrapper">
        <mat-divider></mat-divider>
        <h4>{{data.firstName}} {{data.lastName}}</h4>
        <h6>{{data.email}}</h6>
        <mat-divider></mat-divider>
        <div>
            <h6 (click)="_auth.logoutUser()">
                <mat-icon>power_settings_new</mat-icon>&nbsp;Logout
            </h6>
        </div>
        <mat-divider></mat-divider>
        <div>
            <h6 (click)="openDeleteDialog()">
                <mat-icon>delete_forever</mat-icon> &nbsp;Delete Account
            </h6>
        </div>
    </div>
</div>