<div class="row pt-5">
    <div class="col-md-6 mx-auto ">
      <div class="card rounded-0">
         <div class="card-header bg-secondary">
           <h3 class="mb-0">Verify Email</h3>
         </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <p>Please enter your email address or mobile number to search for your account.</p>
                <input [(ngModel)]="loginUSerData.email" name="email" type="text" class="form-control rounded-0" placeholder="Email address" required>
              </div>
              <hr>
              <span class="float-end">
                <button (click)="Emailverify()"  class="btn btn-success">Submit</button> &nbsp;&nbsp;&nbsp;
                <button  class="btn btn-light">Cancel</button> 
              </span>
               <br>
               <br>
            </form>
          </div>
      </div>
    </div>
  </div>
