<div class="row pt-5">
    <div class="col-md-6 mx-auto ">
      <div class="card rounded-0">
         <div class="card-header bg-secondary">
           <h3 class="mb-0">Register Form</h3>
         </div>
          <div class="card-body">
            <form class="form" [formGroup]="form" (ngSubmit)="save()">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input formControlName='firstName' name="firstName" type="text" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input formControlName='lastName' name='lastName' type="text" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label for="profilPic">ProfilePic</label><br>
                <input  formControlName='profilPic' type="file" id="profilPic" class="form-photo form-control" accept="image/png, image/gif, image/jpeg" >
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input formControlName='email' name="email" type="email" class="form-control rounded-0" required #email>
              </div>
               <div class="form-group">
                 <label for="password">Password</label>
                 <input formControlName='email'  name="password" type="password" class="form-control rounded-o" required>
               </div><br>
               <button class="btn btn-secondary" (click)="sendOtp(email)">Send Otp</button><br>
               <div class="form-group">
                 <label for="otp">OTP</label>
                 <input formControlName='otp'  name="otp" type="text" class="form-control rounded-o" required>
               </div>
               <br><br>
               <button type="submit" [disabled]="!form.valid"  class="btn btn-primary float-right float-end">Register</button>&nbsp;&nbsp;
               <!-- <button (click)="ongoogleSigin()"  class="btn btn-primary float-right float-end">SignInWithGoogle</button> -->
               <!-- <button (click)="onfacebookLogin()"  class="btn btn-primary float-right float-end">Sign In With Facebook</button> -->
            </form>
          </div>
          <p>Already have an account ? <a routerLink="/login">Log In</a> </p>
      </div>
    </div>
  </div>